{% extends 'base.html.twig' %}

{% block title %} Gallery {% endblock%}


{% block body %}
    <h1>Images</h1>
    {% if images %}
        <div class="row"> 
            {% for image in images %}

                <div class="card p-0 col-4">
                    <img src="{{ image.path }}" class="w-100 card-img-top" alt="{{ image.name }}">
                    <div class="card-body p-2" style="margin-top: -6em; background: #2229">
                        <h3 class="text-light">{{ image.name }}</h3>
                        <div class="btn-group">
                            <a href="/image/{{ image.id }}" class="btn btn-outline-primary">View</a>
                            <a href="/image/edit/{{ image.id }}" class="btn btn-outline-warning">Edit</a>
                            <a href="/image/delete/{{ image.id }}" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        nao tem
    {% endif %}
{% endblock %}